.grid {
    z-index: -1;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}


@media all and (max-width: 500px) {
    .grid {
      /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
}