.card {
	margin: 30px 50px;
	width: 200px;
	height: 270px;
	border-radius: 40px;
	box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
	cursor: pointer;
	transition: 0.4s;

	.cardImg {
		width: inherit;
		height: inherit;
		border-radius: 40px;
		img {
			width: inherit;
			height: inherit;
			border-radius: 40px;
			object-fit: cover;
		}
	}

	.cardTitle {
		border: 10px solid black;
		text-align: center;
		border-radius: 0px 0px 40px 40px;
		font-family: sans-serif;
		font-weight: bold;
		font-size: 27px;
		margin-top: -85px;
		height: 40px;
        
	}
	&:hover {
		transform: scale(0.9, 0.9);
		box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), -5px -5px 30px 15px rgba(0,0,0,0.22);
	}
}
.titleWhite {
	color: white;
}